<!--
terminal.js
Copyright (C) System76, Inc.

This file is part of terminal.js.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
-->

<div id="terminal" data-on-visible="runTerminal($('#terminal'))" data-terminal-prompt="system76@Galago-UltraPro:~$ ">

<div class="row">
	<div class="small-12 columns text-center">
		<h1>Deploy software faster.</h1>
		<p>Go from opening your server to production in minutes.
	</div>
</div>

	<span data-terminal="line" data-terminal-message="prompt" data-terminal-time="0"></span>
	<span data-terminal="text" data-terminal-message='echo -e "\nVirtualize the cloud on your Galago UltraPro.\n"' data-terminal-time="1000"></span>
	<span data-terminal="line" data-terminal-message="&nbsp;" data-terminal-time="4000"></span>
	<span data-terminal="line" data-terminal-message="Virtualize the cloud on your Galago UltraPro." data-terminal-time="1"></span>
	<span data-terminal="line" data-terminal-message="&nbsp;" data-terminal-time="1"></span>
	<span data-terminal="line" data-terminal-message="prompt" data-terminal-time="100"></span>
	<span data-terminal="text" data-terminal-message="juju deploy mysql" data-terminal-time="300"></span>
	<span data-terminal="line" data-terminal-message='Added charm "cs:trusty/mysql-5" to the environment.' data-terminal-time="1700"></span>
	<span data-terminal="line" data-terminal-message="prompt" data-terminal-time="1000"></span>
	<span data-terminal="text" data-terminal-message="juju deploy mediawiki" data-terminal-time="300"></span>
	<span data-terminal="line" data-terminal-message='Added charm "cs:trusty/mysql-5" to the environment.' data-terminal-time="2100"></span>
	<span data-terminal="line" data-terminal-message="prompt" data-terminal-time="1000"></span>
	<span data-terminal="text" data-terminal-message="juju add-relation mysql mediawiki:db" data-terminal-time="300"></span>
	<span data-terminal="line" data-terminal-message="prompt" data-terminal-time="3600"></span>
	<span data-terminal="text" data-terminal-message="juju expose mediawiki" data-terminal-time="300"></span>
	<span data-terminal="line" data-terminal-message="prompt" data-terminal-time="2100"></span>
	<span data-terminal="text" data-terminal-message="juju deploy memcached" data-terminal-time="300"></span>
	<span data-terminal="line" data-terminal-message='Added charm "cs:trusty/memcached-1" to the environment.' data-terminal-time="2100"></span>
	<span data-terminal="line" data-terminal-message="prompt" data-terminal-time="300"></span>
	<span data-terminal="text" data-terminal-message="juju add-relation memcached mediawiki" data-terminal-time="300"></span>
	<span data-terminal="line" data-terminal-message="prompt" data-terminal-time="3700"></span>
	<span data-terminal="text" data-terminal-message='echo -e "\nThat&rsquo;s it! Virtualize and hack the cloud locally in seconds.\n"' data-terminal-time="500"></span>
	<span data-terminal="line" data-terminal-message="&nbsp;" data-terminal-time="5000"></span>
	<span data-terminal="line" data-terminal-message="That&rsquo;s it! Virtualize and hack the cloud locally in seconds." data-terminal-time="1"></span>
	<span data-terminal="line" data-terminal-message="&nbsp;" data-terminal-time="1"></span>
	<span data-terminal="line" data-terminal-message="prompt" data-terminal-time="1"></span>

	<div class="output"></div>
</div>
